<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="first_input">Password</label>
        <input type="text" name="first_input" id="">
        <label for="second_input">Password (Again)</label>
        <input type="text" name="second_input">
        <p>{{ error_message }}</p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>